ul.navBar{
    padding: 0;
    margin: 0;
}

/*li.nav{
    list-style: none;
    list-style-position: inside;
}*/

li.nav{
    display: inline;
    margin-left: 0;
    padding-right: 20px;
}

.nav2{
    margin-left: 0;
    padding-right: 20px;
}

p.comic{
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

p.arial{
    font-family: Arial;
}

p.red{
    color:red;
}

p.blue{
    color: blue;
}

p.green{
    color: green;
}

p.bgRed{
    background-color: red;
}

p.bgBlue{
    background-color: blue;
}

p.bgGreen{
    background-color: green;
}

span.italic{
    font-style: italic;
    font-family: Verdana, Geneva, sans-serif;
}

span:hover{
    color:red;

}

img + p::first-letter{
    font-size: 30px;
}
